@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');


.property-info{
    font-size: xx-large !important;
    font-family: "Bentham", serif;

}

.property-price {
    font-size: xxx-large !important;
    position: absolute;
    top: 60px;
    right: 55px;

}

.website-logo{
    position: absolute;
    bottom: 20px;
    right: 40px;

}

.form-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse !important;
    margin: 40px 0 0 0 !important;
    padding:10px 50px !important;
    height: 80px !important;
    position: sticky !important;
    top: 10px !important;
    border: 1px solid #aaaaaa !important;
    z-index: 1000 !important;
    background: #fff;
    box-shadow: #6c757d 3px 3px 5px !important;
}

.form-button-text{
    border-radius:3px !important;
    font-size: xx-large !important;
}

.prop .carousel{

    width: 1000px !important;
    margin: 90px auto 50px auto !important;
    align-self: center !important;
    z-index: 100 !important;
}

.property-agent{
    padding: 0 80px 0 0 !important;
}

